<h3>A blog about great food and beer in around Portland... In my opinion</h3>
<p>
  This is a blog dedicated to the extraordinarly unextraordinary. It'll feature this that and the other... The currrent topic is Holiday Beers and Sweets! <br> This is intended to be a total faceplant!
</p>

<ul>
  {{#each model as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post save2="save3"}}

<br>
{{#link-to 'about'}}WhoWeAre{{/link-to}}<br>
{{#link-to 'contact'}}ContactUs{{/link-to}}
