<h1>EPIC Fail Blog</h1>
<p>
  This is a blog dedicated to the extraordinarly unextraordinary. It'll feature this that and the other... Currently the topic is the Autumn Equinox and the Holidays. This is intended to be a total faceplant!
</p>

<ul>
  {{#each model as |post|}}
    {{post-tile post=post destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post save2="save3"}}

{{#link-to 'about'}}WhoWeAre{{/link-to}}<br>
{{#link-to 'contact'}}ContactUs{{/link-to}}
